{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="content">
    <div class="posts">
        <div class="post">
            <p class='post_img'> <img src="{% static 'img/post.png' %}"height = 100px> </p>
            <p class="post-title">How to leart Python</p>
            <p class="post-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae aut, eaque,
                odit quia laudantium maiores soluta numquam deserunt error vel, laborum molestias unde at eius
                animi provident consequuntur facere necessitatibus.</p>
        </div>
    </div>
</div>

{% endblock content %}
