* {
    margin: 2px;
    padding: 0;
}

p {
    display: inline;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #189399;
    font-size: 14pt;
    color: white;
}

.menu {
    display: flex;
    list-style-type: none;
    
}

.menu-item {
    margin-left: 5px;
}

.user {
    margin-left: auto;
}

.user_img {
    margin-top: -10px;
    margin-bottom: -20px;
}

.posts {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.post{
    background-color: #f0dba1;
    display: flex;
    flex-direction: column;
    padding: 7px;
    border: 4px groove rgb(105, 3, 3);
    height: 240px;
    width: 24%;
}
.post-title {
    font-size: 15pt;
    font-weight: bold; 
}
.post-body {
    font-size: 12pt;
    text-align: justify;
    overflow:hidden;
}

.post_img {
    text-align: center;
    border: 4px groove rgb(105, 3, 3);
    background-color: #ffffff;
}

.footer {
    width: 99%;
    text-align: center;
    font-size: 15pt;
    font-weight: bold; 
    border: 4px groove rgb(2, 137, 161);
}

.about {
    width: 100%;
    /* text-align: justify; */
    display: flex;
    justify-content: center;
    font-size: 12pt; 
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}


.about-img {
    width: 40%;
    box-align: right;
    text-align: right;
}
